In [1]:
import pandas as pd

In [4]:
t = pd.read_csv('mbuto-Scenes.csv')

In [7]:
t.columns

Index(['Scene Number', 'Start Frame', 'Start Timecode', 'Start Time (seconds)',
       'End Frame', 'End Timecode', 'End Time (seconds)', 'Length (frames)',
       'Length (timecode)', 'Length (seconds)'],
      dtype='object')

In [9]:
t[['Scene Number','Length (seconds)']]

   Scene Number  Length (seconds)
0             1            31.185
1             2            25.701
2             3            33.547
3             4            77.583
4             5            23.579
5             6            36.510
6             7             5.645
7             8            28.063
8             9            18.495

In [19]:
t['Length (seconds)'] * 1000

0    31185.0
1    25701.0
2    33547.0
3    77583.0
4    23579.0
5    36510.0
6     5645.0
7    28063.0
8    18495.0
Name: Length (seconds), dtype: float64

In [20]:
times = (t['Length (seconds)'] * 1000).tolist()

In [21]:
times.insert(0,0)

In [22]:
times

[0,
 31185.0,
 25701.0,
 33547.0,
 77583.0,
 23579.0,
 36510.0,
 5645.0,
 28063.0,
 18495.0]

In [26]:
for i in times:
    print(f"{int(i)} qlisted {int(i)};")

0 qlisted 0;
31185 qlisted 31185;
25701 qlisted 25701;
33547 qlisted 33547;
77583 qlisted 77583;
23579 qlisted 23579;
36510 qlisted 36510;
5645 qlisted 5645;
28063 qlisted 28063;
18495 qlisted 18495;